<article class="member-card">
    <a class="member-image-link" href="{{ include.member.url | relative_url }}">
        <img
                class="member-image"
                src="{{ include.member.image | default: '/assets/img/members/placeholder.jpg' | relative_url }}"
                alt="{{ include.member.title }}"
                loading="lazy"
        >
    </a>

    <h3 class="member-name">
        <a href="{{ include.member.url | relative_url }}">
            {{ include.member.title }}
        </a>
    </h3>
</article>